<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform) = x64 ?>
    <?define ProductName = "Beamgun (64 bit)" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define ProductName = "Beamgun" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  
  <Product Id="*"
           Name="Beamgun"
           Language="1033"
           Version="0.2.4.0"
           Manufacturer="Josh Lospinoso"
           UpgradeCode="662c6713-7850-4572-a794-b1c596d81908">
    <Package Compressed="yes"
         InstallerVersion="301"
         Manufacturer="Josh Lospinoso"
         Description="Rogue USB Device Defender"
         Keywords="Information security,USB monitor"
         Comments="(c) 2016-2018 Josh Lospinoso"
         InstallScope="perMachine" 
         InstallPrivileges="elevated"/>
    <Property Id="WixShellExecTarget" Value="[#BeamgunApp]" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Beamgun" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec"/>

    <UI>
        <UIRef Id="WixUI_Minimal" />
        <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
    </UI>

    <Media Id="1"
       Cabinet="media1.cab"
       EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Beamgun is already installed." AllowSameVersionUpgrades="yes" />
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Icon Id="icon.ico" SourceFile="$(var.BeamgunApp.ProjectDir)Graphics/ArmedIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="BEAMGUNDIR" Name="Beamgun">
          <Component Id="CMP_BeamgunApp" Guid="*">
            <File Id="BeamgunApp"
              Name="$(var.BeamgunApp.TargetFileName)"
              Source="$(var.BeamgunApp.TargetPath)"
              KeyPath="yes"/>
          </Component>
          <Component Id="CMP_NotifyIconWpf" Guid="*">
            <File Id="NotifyIconWpf"
              Name="$(var.NotifyIconWpf.TargetFileName)"
              Source="$(var.NotifyIconWpf.TargetPath)"
              KeyPath="yes"/>
          </Component>
          <Component Id="CMP_Interactivity" Guid="*">
            <File Id="Interactivity"
              Name="System.Windows.Interactivity.dll"
              Source="$(var.BeamgunApp.TargetDir)System.Windows.Interactivity.dll"
              KeyPath="yes"/>
          </Component>
          <Component Id="CMP_Json" Guid="*">
            <File Id="Json"
              Name="Newtonsoft.Json.dll"
              Source="$(var.BeamgunApp.TargetDir)Newtonsoft.Json.dll"
              KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="BeamgunShortcuts" Name="Beamgun">
          <Component Id="CMP_Shortcuts" Guid="*">
            <Shortcut Id="StartMenuShortcut"
                      Name="Beamgun"
                      Description="USB Rubberducky Protection"
                      Target="[BEAMGUNDIR]$(var.BeamgunApp.TargetFileName)"
                      Icon="icon.ico"
                      />
            <RemoveFolder Id="RemoveBeamgunShortcuts" On="uninstall" />
            <RegistryValue Root="HKCU"
                 Key="Software\Beamgun"
                 Name="installed"
                 Type="integer"
                 Value="1"
                 KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Beamgun"
         Title="Beamgun"
         Level="1">
      <ComponentRef Id="CMP_BeamgunApp" />
      <ComponentRef Id="CMP_NotifyIconWpf" />
      <ComponentRef Id="CMP_Interactivity" />
      <ComponentRef Id="CMP_Shortcuts" />
      <ComponentRef Id="CMP_Json" />
    </Feature>
    <CustomAction Id='CreateBeamgunTask' Return="check" Execute="commit" Directory="TARGETDIR" Impersonate="no"
        ExeCommand="&quot;[SystemFolder]SCHTASKS.EXE&quot; /Create /SC ONLOGON /TN &quot;Beamgun&quot; /TR &quot;&apos;[BEAMGUNDIR]BeamgunApp.exe&apos;&quot; /RU [LogonUser] /F /RL HIGHEST"/>
    <CustomAction Id='RemoveBeamgunTask' Return="ignore" Execute="commit" Directory="TARGETDIR" Impersonate="no"
        ExeCommand="&quot;[SystemFolder]SCHTASKS.EXE&quot; /Delete /TN &quot;Beamgun&quot; /F"/>

    <InstallExecuteSequence>
      <Custom Action="CreateBeamgunTask" Before='InstallFinalize'/>
      <Custom Action="RemoveBeamgunTask" After="CreateBeamgunTask">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence> 
  </Product>
</Wix>
